<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="ZambaCare: gestión y seguimiento capilar de Zamba Pisando Tierra. Demostración académica con datos ficticios."
    />
    <title th:text="${title} + ' | ZambaCare'">ZambaCare</title>
    <link
      rel="icon"
      type="image/svg+xml"
      th:href="@{/img/logo/zambacare.svg}"
    />
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/bootstrap.min.css}" />
    <link
      rel="stylesheet"
      th:href="@{/vendor/bootstrap-icons/bootstrap-icons.min.css}"
    />
    <link rel="stylesheet" th:href="@{/css/fonts.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script
      defer
      th:src="@{/vendor/bootstrap/bootstrap.bundle.min.js}"
    ></script>
    <script defer th:src="@{/js/app.js}"></script>
  </head>
</html>
